<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generator - placeholder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

</head>
<body>
<div class="main-container">
    <div class="title-box">
        <h1>TOM WAITS IPSUM</h1>
        <p>by Joseph Padfield</p>
    </div>

    <form action="/" method="get">
        <label for="paras">Paragraphs: </label>
        <select name="paras" id="paras">
            <% for (let i=1;i<=10;i++) {
            const selected = i == opt ? 'selected' : ''%>
            <option value="<%=i%>" <%= selected %>><%= i %></option>
            <% } %>

        </select>
        <button>Generate</button>
    </form>

    <div class="ipsum-body">
        <p>
            <%- text %>
        </p>
    </div>
</div>


</body>
</html>